<div class="container-fluid color-third">
    <app-nav-bar-petspit></app-nav-bar-petspit>
    <app-navs-petspit></app-navs-petspit>
</div>

<div class="container">


    <div class="mt-5 mb-5">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h3 class="text-center text-sm-center text-md-center text-lg-start">Listado de Productos <span
                        *ngIf="!loadingSizeProducts">({{sizeProducts}})</span> <span>
                        <div class="spinner-grow text-warning" role="status" *ngIf="loadingSizeProducts"></div>
                    </span>
                </h3>
            </div>
            <div
                class="col-lg-6 d-flex justify-lg-content-end justify-md-content-end justify-sm-content-end justify-content-center">
                <div class="row align-items-center justify-content-center me-3">

                    <div class="col-lg-10 col-md-8 col-sm-8 col-8 ms-0">
                        <div class="form-floating">
                            <select class="form-select mt-3 mt-lg-0" [(ngModel)]="orderSelected" name="orderSelected"
                                (change)="onChangeOrder($event)" id="order">
                                <option value="asc">Nombre,A a Z</option>
                                <option value="desc">Nombre,Z a A</option>
                                <option value="precio-asc">Precio,de más bajo a más alto</option>
                                <option value="precio-desc">Precio,de más alto a más bajo</option>
                            </select>
                            <label for="order">orden</label>
                        </div>
                    </div>

                    <div
                        class="col-md-4 col-sm-4 col-4 col-lg-2 ms-0 d-block d-sm-block d-md-block d-lg-none text-center">
                        <button class="btn btn-sm btn-icon-change mt-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter"
                                width="37" height="37" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" />
                            </svg>
                        </button>
                    </div>

                </div>


                <a class="me-2 py-3 btn d-none d-lg-block" (click)="cambiarVista = !cambiarVista"
                    [ngClass]="cambiarVista ? 'btn-icon-change' : '' ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler py-0 icon-tabler-layout-grid"
                        width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="6" height="6" rx="1" />
                        <rect x="14" y="4" width="6" height="6" rx="1" />
                        <rect x="4" y="14" width="6" height="6" rx="1" />
                        <rect x="14" y="14" width="6" height="6" rx="1" />
                    </svg>
                </a>
                <a class="btn py-3 d-none d-lg-block" (click)="cambiarVista = !cambiarVista"
                    [ngClass]="!cambiarVista ? 'btn-icon-change' : '' ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-list" width="30"
                        height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="6" rx="2" />
                        <rect x="4" y="14" width="16" height="6" rx="2" />
                    </svg>
                </a>


            </div>
        </div>
    </div>


    <!-- filtro pero colapsable  -->
    <div class="collapse" id="collapseExample">
        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 col-sm-12 col-12">

                <form (ngSubmit)="onSubmitFilter()" [formGroup]="formFilter">


                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Categorías</h4>
                        <div class="form-floating">
                            <select class="form-select" formControlName="categoria" id="categoria"
                                style="font-weight: 500;">
                                <option value="" selected>Seleccione una Categoría</option>
                                <option [value]="category.idCategory" *ngFor="let category of categories">
                                    {{category.descripcion}}</option>
                            </select>
                            <label for="categoria">Categoría</label>
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">SubCategorías</h4>
                        <div class="form-floating">
                            <select class="form-select" formControlName="subCategoria" id="subCategoria"
                                style="font-weight: 500;">
                                <option value="" selected>Seleccione una SubCategoría</option>
                                <option [value]="subCategory.idSubCategory" *ngFor="let subCategory of subCategories">
                                    {{subCategory.descripcion}}
                                </option>
                            </select>
                            <label for="subCategoria">SubCategoría</label>
                        </div>
                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Marca</h4>
                        <div class="form-floating">
                            <select class="form-select" id="marca" formControlName="marca" style="font-weight: 500;">
                                <option value="" selected>Seleccione una Marca</option>
                                <option [value]="marca.idMarca" *ngFor="let marca of marcas">{{marca.descripcion}}
                            </select>
                            <label for="marca">Marca</label>
                        </div>

                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Mascota</h4>
                        <div class="form-floating">
                            <select class="form-select" id="animal" formControlName="animal" style="font-weight: 500;">
                                <option value="" selected>Seleccione un Animal</option>
                                <option [value]="animal.idAnimal" *ngFor="let animal of animals">{{animal.claseAnimal}}
                            </select>
                            <label for="animal">Mascota</label>
                        </div>
                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Etapa de vida</h4>

                        <div class="form-floating">
                            <select class="form-select" id="etapaVida" formControlName="etapaVida"
                                style="font-weight: 500;">
                                <option value="" selected>Seleccione una Etapa de Vida</option>
                                <option [value]="etapaVida.idEtapaVida" *ngFor="let etapaVida of etapaVidas">
                                    {{etapaVida.descripcion}}
                            </select>
                            <label for="etapaVida">Etapa de Vida</label>
                        </div>

                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Tamaño de raza</h4>

                        <div class="form-floating">
                            <select class="form-select" id="tamanioRaza" formControlName="tamanioRaza"
                                style="font-weight: 500;">
                                <option value="" selected>Seleccione un Tamaño de Raza</option>
                                <option [value]="tamanioRaza.idTamanioRaza" *ngFor="let tamanioRaza of tamanioRazas">
                                    {{tamanioRaza.descripcion}}
                            </select>
                            <label for="tamanioRaza">Etapa de Vida</label>
                        </div>
                    </div>

                    <div class="card py-4 px-3">
                        <button class="btn btn-filter" type="submit">Filtrar</button>
                    </div>
                </form>

            </div>


        </div>
    </div>


    <!-- Listado de productos con el fitro -->

    <div class="margin-y">
        <div class="row">
            <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">



                <form (ngSubmit)="onSubmitFilter()" [formGroup]="formFilter">


                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Categorías</h4>
                        <div class="form-floating">
                            <select class="form-select" formControlName="categoria" style="font-weight: 500;"
                                id="categoria">
                                <option value="" selected>Seleccione una Categoría</option>
                                <option [value]="category.idCategory" *ngFor="let category of categories">
                                    {{category.descripcion}}</option>
                            </select>
                            <label for="categoria">Categoría</label>
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">SubCategorías</h4>
                        <div class="form-floating">
                            <select class="form-select" formControlName="subCategoria" style="font-weight: 500;"
                                id="subCategoria">
                                <option value="" selected>Seleccione una SubCategoría</option>
                                <option [value]="subCategory.idSubCategory" *ngFor="let subCategory of subCategories">
                                    {{subCategory.descripcion}}
                                </option>
                            </select>
                            <label for="subCategoria">SubCategoría</label>
                        </div>
                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Marca</h4>
                        <div class="form-floating">
                            <select class="form-select" id="idMarca" style="font-weight: 500;" formControlName="marca">
                                <option value="" selected>Seleccione una Marca</option>
                                <option [value]="marca.idMarca" *ngFor="let marca of marcas">{{marca.descripcion}}
                            </select>
                            <label for="idMarca">Marca</label>
                        </div>

                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Mascota</h4>
                        <div class="form-floating">
                            <select class="form-select" id="idAnimal" formControlName="animal"
                                style="font-weight: 500;">
                                <option value="" selected>Seleccione un Animal</option>
                                <option [value]="animal.idAnimal" *ngFor="let animal of animals">{{animal.claseAnimal}}
                            </select>
                            <label for="idAnimal">Mascota</label>
                        </div>
                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Etapa de vida</h4>

                        <div class="form-floating">
                            <select class="form-select" id="idEtapaVida" formControlName="etapaVida"
                                style="font-weight: 500;">
                                <option value="" selected>Seleccione una Etapa de Vida</option>
                                <option [value]="etapaVida.idEtapaVida" *ngFor="let etapaVida of etapaVidas">
                                    {{etapaVida.descripcion}}
                            </select>
                            <label for="idEtapaVida">Etapa de Vida</label>
                        </div>

                    </div>
                    <!--  -->
                    <div class="card py-4 px-3">
                        <h4 class="mb-3">Tamaño de raza</h4>

                        <div class="form-floating">
                            <select class="form-select" id="idTamanioRaza" formControlName="tamanioRaza"
                                style="font-weight: 500;">
                                <option value="" selected>Seleccione un Tamaño de Raza</option>
                                <option [value]="tamanioRaza.idTamanioRaza" *ngFor="let tamanioRaza of tamanioRazas">
                                    {{tamanioRaza.descripcion}}
                            </select>
                            <label for="idTamanioRaza">Etapa de Vida</label>
                        </div>
                    </div>

                    <div class="card py-4 px-3">
                        <button class="btn btn-filter fw-bold" type="submit">Filtrar</button>
                    </div>
                </form>


            </div>
            <div class="col-lg-9 p-0">

                <div class="container">

                    <div class="d-flex flex-column vh-100 justify-content-center align-items-center"
                        *ngIf="!loadingProducts && viewProducts.length === 0">
                        <div>
                            <img width="100" height="100" src="https://img.icons8.com/bubbles/100/not-bad-meme.png"
                                alt="not-bad-meme" />
                        </div>
                        <h2 class="text-center">No se encontró ningún registro.</h2>
                    </div>

                    <div class="d-flex vh-100 justify-content-center align-items-center" *ngIf="loadingProducts">
                        <div class="colorful"></div>
                    </div>


                    <ng-container *ngIf="!loadingProducts">
                        <div class="row justify-content-center gap-1 p-1" *ngIf="cambiarVista">

                            <div class="col-lg-3 col-md-4 col-9 p-0" *ngFor="let viewProduct of viewProducts">
                                <div class="card">
                                    <a [routerLink]="['/view-product']"
                                        [queryParams]="{producto:viewProduct.product.idProduct}">
                                        <img [src]="viewProduct.pathName" width="400" class="img-fluid" alt="...">
                                    </a>
                                    <div class="card-body">
                                        <a [routerLink]="['/view-product']" class="nav-link"
                                            [queryParams]="{producto:viewProduct.product.idProduct}">
                                            <h5 class="card-title text-truncate text-center mb-3">
                                                {{viewProduct.product.titulo}}
                                            </h5>
                                        </a>
                                        <p class="card-text text-center">Precio : <span
                                                class="fw-bold">{{viewProduct.product.precio |
                                                currency:"PEN "}}</span> </p>
                                        <p class="card-text text-center">Peso : {{viewProduct.product.peso}} <span
                                                class="fw-bold"> {{viewProduct.product.peso > 0 ? 'KG' : 'GR'}}</span>
                                        </p>
                                        <p class="card-text text-center">Stock : {{viewProduct.product.stock}}</p>
                                        <div class="text-center">
                                            <a class="btn w-100 btn-product fw-bold" (click)="addItemCarrito(viewProduct.product)">Agregar al carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-container>



                    <ng-container *ngIf="!loadingProducts">

                        <!-- el otro modelo de vista -->
                        <div class="row justify-content-center mt-4 gap-1" *ngIf="!cambiarVista">
                            <div class="col-lg-9">

                                <div class="row justify-content-center">

                                    <div class="col-lg-12 col-12" *ngFor="let viewProduct of viewProducts">

                                        <div class="card mb-3">
                                            <div class="row g-0">
                                                <div class="col-lg-4 d-flex align-items-center  col-3">
                                                    <a [routerLink]="['/view-product']"
                                                        [queryParams]="{producto:viewProduct.product.idProduct}">
                                                        <img [src]="viewProduct.pathName" width="400"
                                                            class="img-fluid rounded-start" alt="...">
                                                    </a>
                                                </div>
                                                <div class="col-lg-8 col-9">
                                                    <div class="card-body">
                                                        <a [routerLink]="['/view-product']"
                                                            [queryParams]="{producto:viewProduct.product.idProduct}"
                                                            class="nav-link">
                                                            <h5 class="card-title">{{viewProduct.product.titulo}}</h5>
                                                        </a>
                                                        <p class="card-text">Precio : <span
                                                                class="fw-bold">{{viewProduct.product.precio |
                                                                currency:"PEN "}}</span></p>
                                                        <p class="card-text">Peso : {{viewProduct.product.peso}}
                                                            <span class="fw-bold"> {{viewProduct.product.peso > 0 ? 'KG'
                                                                : 'GR'}}</span>
                                                        </p>
                                                        <p class="card-text">Stock : {{viewProduct.product.stock}} </p>
                                                        <div class="text-center mt-4">
                                                            <a class="btn w-100 fw-bold btn-product" (click)="addItemCarrito(viewProduct.product)">Agregar al
                                                                carrito</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>
                    </ng-container>

                </div>


            </div>
        </div>
    </div>

</div>

<app-footer-petspit></app-footer-petspit>