
<div class="container-fluid color-third">
    <app-nav-bar-petspit></app-nav-bar-petspit>
    <app-navs-petspit></app-navs-petspit>
</div>

<section style="background-color: rgb(255, 255, 255);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card shadow" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block" *ngIf="!this.shared.showRegistration">
                            <img src="./assets/img/perro-login-extra-grande.jpg" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;min-height: 100%;border-radius: 8px 12px 15px 10px;
                                -moz-border-radius: 8px 12px 15px 10px;
                                -webkit-border-radius: 8px 12px 15px 10px;
                                border: 0px solid #000000;" />
                        </div>
                        <div *ngIf="!this.shared.showRegistration" class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form (ngSubmit)="signIn()" [formGroup]="formLogin">

                                    <div class="d-flex justify-content-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-3">Inicio de Sesión</span>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">Usuario</label>
                                        <input type="text" placeholder="example21" autocomplete="off" id="username"
                                            formControlName="username" name="username"
                                            class="form-control form-control-lg" />

                                        <div class="mt-2"
                                            *ngIf="formLogin.get('username')?.invalid && (formLogin.get('username')?.dirty || formLogin.get('username')?.touched)">
                                            <p *ngIf="formLogin.get('username')?.hasError('required')"
                                                class="p-1 fw-bold" style="color: rgb(121, 36, 36);">Username requerido.
                                            </p>
                                            <p *ngIf="formLogin.get('username')?.hasError('maxlength')"
                                                class="p-1 fw-bold" style="color: rgb(121, 36, 36);">El Username solo
                                                admite máximo 255
                                                caracteres.</p>
                                            <p *ngIf="formLogin.get('username')?.hasError('pattern')"
                                                class="p-1 fw-bold" style="color: rgb(121, 36, 36);">El Username contiene caracteres no válidos.</p>
                                        </div>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Conraseña</label>
                                        <input type="password" placeholder="*****" autocomplete="off" id="password"
                                            name="password" formControlName="password"
                                            class="form-control form-control-lg" />

                                        <div class="mt-2"
                                            *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
                                            <p *ngIf="formLogin.get('password')?.hasError('required')"
                                                class="p-1 fw-bold" style="color: rgb(121, 36, 36);">Password requerido.
                                            </p>
                                            <p *ngIf="formLogin.get('password')?.hasError('maxlength')"
                                                class="p-1 fw-bold" style="color: rgb(121, 36, 36);">El Password solo
                                                admite máximo 255
                                                caracteres.</p>

                                                <p *ngIf="formLogin.get('password')?.hasError('pattern')"
                                                class="p-1 fw-bold" style="color: rgb(121, 36, 36);">El Password contiene caracteres no válidos.</p>
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button [disabled]="formLogin.invalid" class="btn btn-hover btn-lg btn-block"
                                            type="submit">
                                            Login
                                        </button>
                                    </div>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">No tienes una cuenta?
                                        <a (click)="showRegistrationForm()" class="nav-item-link">Registrarse</a>
                                    </p>
                                </form>

                            </div>
                        </div>
                        <div *ngIf="this.shared.showRegistration" class="col-md-12 col-lg-12 col-sm-12 col-12">

                            <app-public-register-user></app-public-register-user>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer-petspit></app-footer-petspit>
