.btn:active {
    outline: none;
    box-shadow: none;
    border-color: rgb(111, 212, 16);
}

.btn {
    transition: .4s all;
}

.btn-ver-compras {
    background-color: #c0aa92;
    color: white;
    font-weight: bold;
}

.btn-ver-compras:hover{
    background-color: #ebdaa4;
    color: black;
}

.btn-comprar {
    background-color: #856047;
    color: white;
    font-weight: bold;
}

.btn-comprar:hover{
    background-color: #f4a42d;
    color: black;
}

.btn-login:hover {
    background-color: #7ac44f;
    opacity: .6;
}

.btn-close::before {
    color: white;
}

.btn-padding {
    padding: 15px 10px;
}

.navbar-toggler {
    background-color: transparent;
    transition: .4s all;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
    outline: none;
}

.navbar-toggler:hover {
    background-color: var(--color-secondary);
    color: white;
    font-weight: bold;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-toggler-icon {
    color: black;
}

.nav-link {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    border-left: 6px solid transparent;
    transition: .4s all;
}

.title-item {
    text-decoration: none;
    transition: .4s all;
}

.title-item:hover {
    text-decoration: underline;
    color: #b8ab81;
}

.nav-link:hover {
    border-left: 6px solid black;
}


.icon-trash-hover {
    color: rgb(255, 0, 0);
    transition: .4s all;
}

.icon-trash-hover:hover {
    color: rgb(175, 5, 5);
    font-weight: bold;
    width: 32px;
    height: 32px;
}

.icon-hover {
    color: var(--color-primary);
    transition: .4s all;
}

.icon-hover:hover {
    color: var(--color-secondary);
}

.badge-shop {
    background-color: #f74905;
}

.item-nav {
    color: #856047;
    font-weight: 600;
    font-size: 1.6rem;
    border-left: 4px solid transparent;
    transition: .4s all;
}

.item-nav:hover {
    border-left: 4px solid rgb(144, 209, 39);
}

.subItem-nav{
    color: #6d472d;
    font-weight: 600;
    font-size: 1.6rem;
    border-left: 4px solid transparent;
    transition: .4s all;
}

.subItem-nav:hover{
    border-left: 4px solid rgb(95, 138, 26);
}
