<div class="container">
    <div class="margin-y">


        <form (ngSubmit)="submitEtapaVida()" class="row g-3 justify-content-center" [formGroup]="formAddEtapaVida">
            <div class="col-7">
                <h2 class="fw-bold mb-2 mt-3">Formulario de Etapa de vida</h2>
            </div>
            <div class="col-7">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="descripcion" id="descripcion" autocomplete="off"
                        formControlName="descripcion" placeholder="example">
                    <label for="descripcion">Descripción</label>
                </div>

                <div class="mt-1"
                    *ngIf="formAddEtapaVida.get('descripcion')?.invalid && (formAddEtapaVida.get('descripcion')?.dirty || formAddEtapaVida.get('descripcion')?.touched)">
                    <p *ngIf="formAddEtapaVida.get('descripcion')?.hasError('required')" class="p-1 fw-bold"
                        style="color: rgb(121, 36, 36);">Descripción requerido.
                    </p>
                    <p *ngIf="formAddEtapaVida.get('descripcion')?.hasError('maxlength')" class="p-1 fw-bold"
                        style="color: rgb(121, 36, 36);"> La Descripción solo
                        admite
                        máximo 255 caracteres.
                    </p>
                </div>
            </div>
            <div class="col-7">

                <div class="form-floating  mb-2">
                    <select class="form-select" name="animal" formControlName="estado" id="estado">
                        <option selected value="">Seleccionar</option>
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <label for="estado">Estado</label>
                </div>

                <div class="mt-1"
                    *ngIf="formAddEtapaVida.get('estado')?.invalid && (formAddEtapaVida.get('estado')?.dirty || formAddEtapaVida.get('estado')?.touched)">
                    <p *ngIf="formAddEtapaVida.get('estado')?.hasError('required')" class="p-1 fw-bold"
                        style="color: rgb(121, 36, 36);">Seleccione un Estado.
                    </p>
                </div>
            </div>

            <div class="col-7">

                <div class="form-floating  mb-2">
                    <select class="form-select" name="animal" formControlName="animal" id="animal">
                        <option selected value="">Seleccionar</option>
                        <option [value]="animal.idAnimal" *ngFor="let animal of animales">{{animal.claseAnimal}}
                        </option>
                    </select>
                    <label for="estado">Animal</label>
                </div>


                <div class="mt-1"
                    *ngIf="formAddEtapaVida.get('animal')?.invalid && (formAddEtapaVida.get('animal')?.dirty || formAddEtapaVida.get('animal')?.touched)">
                    <p *ngIf="formAddEtapaVida.get('animal')?.hasError('required')" class="p-1 fw-bold"
                        style="color: rgb(121, 36, 36);">Seleccione un Animal.
                    </p>
                </div>
            </div>
            <div class="col-7 mt-4">
                <button type="submit" [disabled]="formAddEtapaVida.invalid"
                    class="btn btn-custom btn-hover">Agregar</button>
                <a routerLink="/dashboard/etapa-vida/" class="btn btn-list ms-2">Etapas de vida</a>

            </div>
        </form>
    </div>
</div>