<div class="container">
    <div class="margin-y">
        <div class="jumbotron">
            <h1 class="display-4">¡Bienvenido al Panel de Administración!</h1>
            <p class="lead">Gestiona todos los aspectos de tu sitio web o aplicación de manera sencilla y eficiente.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Introducción</h3>
                        <p class="card-text">El panel de administración te permite realizar tareas de mantenimiento,
                            gestionar usuarios, administrar contenido y mucho más. Tendrás un control completo sobre tu
                            plataforma en un solo lugar.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title mb-4">Secciones de Mantenimiento</h3>
                        <ul class="list-group rounded">
                            <li class="list-group-item ">Usuarios: Gestiona los usuarios registrados, asigna roles y
                                permisos, y administra la autenticación.</li>
                            <li class="list-group-item ">Etapas de vida: Gestiona las etapas de vida
                                registrados,editarlas,consultarlas y listarlas.</li>
                            <li class="list-group-item ">Productos: Administra tu catálogo de productos, gestiona
                                inventario, precios,peso,imagen.etc.</li>
                            <li class="list-group-item ">Tamaños de raza: Gestiona los tamaños de raza
                                registrados,editarlos,consultarlos y listarlos.</li>
                            <li class="list-group-item ">Categoría: Gestiona las categorías
                                registradas,editarlas,consultarlas y listarlas.</li>
                            <li class="list-group-item ">Pedidos: Gestiona los pedidos
                                registrados,editarlos,consultarlos y listarlos.</li>
                            <li class="list-group-item ">Ventas: Gestiona las ventas
                                registradas,editarlas,consultarlas y listarlas.</li>
                            <li class="list-group-item ">Marcas: Gestiona las marcas
                                registradas,editarlas,consultarlas y listarlas.</li>
                            <li class="list-group-item ">SubCategorías: Gestiona las SubCategorías
                                registradas,editarlas,consultarlas y listarlas.</li>
                            <li class="list-group-item ">Estadísticas: Visualiza métricas clave sobre el rendimiento de
                                tu sitio, usuarios y demás componentes.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>