
input,textarea {
    outline: none;
    box-shadow: none;
    border-color: transparent;
    border-width: 2px;
    padding: 10px 15px;
    border-radius: 20px;
}

input:focus,input:active,textarea:focus,textarea:active {
    outline: none;
    box-shadow: none;
    border-color: rgb(111, 212, 16);
    border-width: 2px;
}


.btn{
background-color: #c0aa92;
color: black;

}

.btn-hover:hover{
    transition: .4s;
}

.btn-hover:hover{
    /* background-color: #f4a42d; */
    background-color: white;
    color: black;
}