<div class="container-fluid m-0 p-0">

    <div class="row justify-content-center  rounded  py-5 margin-y-medium">
        <div class="col-lg-5  rounded p-5 shadow" style="background-color: rgb(247, 239, 239);">
            <h2 class="fw-bold mb-3">Contactenos</h2>
            <p class="text-break text-justify mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repellat omnis. Saepe
                autem ad, sequi
                nesciunt esse cum enim perferendis blanditiis aut! Tempore blanditiis consectetur dolores soluta, non
                similique unde.</p>
            <img src="./assets/img/imagen-contacto.jpg" class="img-fluid rounded-top shadow" alt="">
        </div>
        <div class="col-lg-5 rounded p-5 shadow" style="background-color: #856047;">
            <form class="row g-4">
                <div class="col-md-12">
                    <label for="nombre" class="form-label text-white p-2 mb-3" style="font-size: 1.1rem;">Nombre</label>
                    <input type="text" class="form-control shadow" placeholder="nombre"  id="nombre">
                </div>
                <div class="col-md-12">
                    <label for="email" class="form-label text-white p-2 mb-3" style="font-size: 1.1rem;">Email</label>
                    <input type="email" class="form-control shadow" placeholder="example@gmail.com" id="email">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label text-white p-2 mb-3" style="font-size: 1.1rem;">Mensaje</label>
                    <textarea class="form-control shadow" id="mensaje" placeholder="mensaje" rows="5"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-hover btn-lg mt-2 ms-1">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>