.btn-comprar {
    background-color: #5c2c14;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 0;
    border-radius: 0%;
    transition: .2s all;
}

.btn-comprar:hover {
    background-color: rgb(111, 212, 16);
    color: black;
}

.icon-trash-hover {
    color: rgb(255, 0, 0);
    transition: .4s all;
}

.icon-hover {
    color: var(--color-primary);
    transition: .4s all;
}

.icon-hover:hover {
    color: var(--color-secondary);
}

.margin-y-carrito {
    margin: 150px 0 60px 0;
}

.no-seleccionable {
    -webkit-user-select: none;
    /* Para navegadores basados en WebKit */
    -moz-user-select: none;
    /* Para navegadores basados en Gecko */
    -ms-user-select: none;
    /* Para navegadores basados en Trident/Edge */
    user-select: none;
    /* Estándar */
}