<div class="container-fluid color-third">
    <app-nav-bar-petspit></app-nav-bar-petspit>
    <app-navs-petspit></app-navs-petspit>
</div>

<div class="container">
    <div class="margin-y-carrito">
        <h2 class="mb-4 fw-bold text-center text-sm-center text-md-start text-lg-start p-2">Carrito de compras</h2>
        <div class="card py-3 px-4">   
            <table class="table table-responsive align-middle table-borderless">
                <thead>
                    <tr>
                        <th></th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>subTotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let viewPedido of viewPedidos">
                        <td>
                            <img [src]="viewPedido.pathName"
                                width="60" [alt]="viewPedido.name">
                        </td>
                        <td>{{viewPedido.pedido.product.titulo}}</td>
                        <td>{{viewPedido.pedido.product.precio | currency:'PEN ' }}</td>
                        <td><div class="ms-4">{{viewPedido.pedido.cantidad}}</div></td>
                        <td>{{viewPedido.pedido.importe | currency:'PEN ' }}</td>
                        <td class="position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-trash-hover position-absolute icon-tabler icon-tabler-trash"
                                width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-end mt-5">
            <div class="col-lg-5 col-md-7 col-sm-8">
                <div class="card p-3">
                    <h4 class="card-title p-1 fw-bold">Total del carrito</h4>
                    <hr>
                    <div class="card-body p-4">
                        <table class="table table-hover align-middle">
                            <tbody>
                                <tr>
                                    <th style="font-weight: 500;">Subtotal</th>
                                    <td class="fw-bold">{{total | currency:'PEN '}}</td>
                                </tr>
                                <tr>
                                    <th style="font-weight: 500;">Total</th>
                                    <td class="fw-bold">{{total | currency:'PEN '}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-comprar w-100">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-petspit></app-footer-petspit>