:root{
    --color-primary:#5c2c14;
    --color-secondary:#f4a42d;
    --color-third:#ebdaa4;
    --color-fourth:#856047;
    --color-fifth:#c0aa92;
    --color-sixth:rgb(255, 255, 255);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
   background: #f4a42d;
   border-radius: 10px;
}

.text-justify{
    text-align: justify;
}

.margin-y{
    margin: 40px 0 40px  0;
}

.margin-y-medium{
    margin: 125px 0 125px  0;
}
.margin-y-big{
    margin: 250px 0 250px  0;
}

.margin-y-buttom{
    margin: 0 0 40px  0;
}
.margin-y-big-top{
    margin: 250px 0 0 0;
}

.margin-y-big-buttom{
    margin: 0 0 250px 0;
}

.color-primary{
      background-color: var(--color-primary); 
}

.color-secondary{
    background-color: var(--color-secondary);
}

.color-third{
    background-color: var(--color-third);
}

.color-fourth{
    background-color: var(--color-fourth);
}

.color-fifth{
    background-color: var(--color-fifth);
}
.color-sixth{
    background-color: var(--color-sixth);
}



/* loading */

.colorful {
    width: 44.8px;
    height: 44.8px;
    border-radius: 50%;
    margin-top: -33.6px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transform-origin: 50% 116.5%;
    animation: colorful-253w2v 2s infinite linear;
 }
 
 .colorful:before {
    content: "";
    min-width: 233%;
    height: 233%;
    background: radial-gradient(farthest-side,#172215 90%,#0000 ) top,
           radial-gradient(farthest-side,#ff6761 90%,#0000 ) left,
           radial-gradient(farthest-side,#ffd82e 90%,#0000 ) bottom,
           radial-gradient(farthest-side,#3bff81 90%,#0000 ) right;
    background-size: 43% 43%;
    background-repeat: no-repeat;
    animation: inherit;
    animation-direction: reverse;
 }
 
 @keyframes colorful-253w2v {
    100% {
       transform: rotate(360deg);
    }
 }

 /* loading de view Product */
 .colorful-spinner-circulos-view-product {
    width: 31.4px;
    height: 31.4px;
    border-radius: 50%;
    background: #ffd82e;
    transform-origin: top;
    display: grid;
    animation: colorful-3vgb5t 1s infinite linear;
 }
 
 .colorful-spinner-circulos-view-product::before,
 .colorful-spinner-circulos-view-product::after {
    content: "";
    grid-area: 1/1;
    background: #ff6761;
    border-radius: 50%;
    transform-origin: top;
    animation: inherit;
    animation-name: colorful-k94uub;
 }
 
 .colorful-spinner-circulos-view-product::after {
    background: #1b4311;
    --s: 180deg;
 }
 
 @keyframes colorful-3vgb5t {
    0%, 20% {
       transform: rotate(0);
    }
 
    100% {
       transform: rotate(360deg);
    }
 }
 
 @keyframes colorful-k94uub {
    50% {
       transform: rotate(var(--s,90deg));
    }
 
    100% {
       transform: rotate(0);
    }
 }

 /* loading de view carrito */
.spinner-pedidos {
   width: 17.6px;
   height: 17.6px;
   animation: spinner-o824ag 1.2s infinite linear;
}

.spinner-pedidos div {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #474b2b;
   border-radius: 50%;
   animation: spinner-vse6n7 1.5s infinite ease;
}

.spinner-pedidos div:nth-child(1) {
   --rotation: 90;
}

.spinner-pedidos div:nth-child(2) {
   --rotation: 180;
}

.spinner-pedidos div:nth-child(3) {
   --rotation: 270;
}

.spinner-pedidos div:nth-child(4) {
   --rotation: 360;
}

@keyframes spinner-vse6n7 {
   0%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
   }

   50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
   }
}

@keyframes spinner-o824ag {
   to {
      transform: rotate(360deg);
   }
}

/* ------- */
.progress-carrito {
    height: 4.5px;
    width: 145.6px;
    background: linear-gradient(#acd638 0 0),
        linear-gradient(#acd638 0 0),
        #13131c;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: progress-7x9cg2 3s infinite;
 }
 
 @keyframes progress-7x9cg2 {
    0% {
       background-position: -150% 0,-150% 0;
    }
 
    66% {
       background-position: 250% 0,-150% 0;
    }
 
    100% {
       background-position: 250% 0, 250% 0;
    }
 }

  /* loading de carrito (SIDEBAR) */
  .spinner-pedidos-sidebar {
   width: 28px;
   height: 28px;
   background: #413509;
   animation: colorful-hrvq02md 1.5s infinite;
}

@keyframes colorful-hrvq02md {
   0%, 100% {
      transform: translate(-33.6px,-33.6px);
      box-shadow: 0     0    #ff6761, 0     0    #ffd82e;
   }

   40% {
      transform: translate( 33.6px, 33.6px);
      box-shadow: -11.2px -11.2px #ff6761,-22.4px -22.4px #ffd82e;
   }

   50% {
      transform: translate( 33.6px, 33.6px);
      box-shadow: 0     0    #ff6761, 0     0    #ffd82e;
   }

   90% {
      transform: translate(-33.6px,-33.6px);
      box-shadow: 11.2px  11.2px #ff6761, 22.4px  22.4px #ffd82e;
   }
}



  .spinner-sidebar-carrito-totales {
   width: 100.8px;
   height: 16.8px;
   background: linear-gradient(#b8dd12 50%,#0000 0),
        linear-gradient(#0000 50%,#b8dd12 0),
        linear-gradient(#b8dd12 50%,#0000 0),
        linear-gradient(#0000 50%,#b8dd12 0),
        linear-gradient(#b8dd12 50%,#0000 0),
        linear-gradient(#0000 50%,#b8dd12 0)
        #7b4201;
   background-size: calc(100%/6 + 1px) 200%;
   background-repeat: no-repeat;
   animation: progress-qh65fe 2s infinite;
}

@keyframes progress-qh65fe {
   0% {
      background-position: 0% 100%, 20%   0%, 40% 100%, 60%   0%, 80% 100%, 100%   0%;
   }

   16.67% {
      background-position: 0%   0%, 20%   0%, 40% 100%, 60%   0%, 80% 100%, 100%   0%;
   }

   33.33% {
      background-position: 0%   0%, 20% 100%, 40% 100%, 60%   0%, 80% 100%, 100%   0%;
   }

   50% {
      background-position: 0%   0%, 20% 100%, 40%   0%, 60%   0%, 80% 100%, 100%   0%;
   }

   66.67% {
      background-position: 0%   0%, 20% 100%, 40%   0%, 60% 100%, 80% 100%, 100%   0%;
   }

   83.33% {
      background-position: 0%   0%, 20% 100%, 40%   0%, 60% 100%, 80%   0%, 100%   0%;
   }

   100% {
      background-position: 0%   0%, 20% 100%, 40%   0%, 60% 100%, 80%   0%, 100% 100%;
   }
}
 

/* loading de vista compra */

spinner-comprar-info {
   position: relative;
   width: 56px;
   height: 56px;
   animation: spinner-x0t3la 3.5999999999999996s infinite linear;
}

.spinner-comprar-info::before {
   content: '';
   display: block;
   height: 56px;
   width: 11.2px;
   animation: spinner-x0t3la 0.6s infinite;
   background: #953603;
   position: absolute;
}

@keyframes spinner-x0t3la {
   to {
      transform: rotate(360deg);
   }
}


.spinner-comprar-pedidos-items {
   height: 4.5px;
   width: 145.6px;
   background: linear-gradient(#74f424 0 0),
       linear-gradient(#74f424 0 0),
       #693b1b;
   background-size: 60% 100%;
   background-repeat: no-repeat;
   animation: progress-7x9cg2 3.5999999999999996s infinite;
}

@keyframes progress-7x9cg2 {
   0% {
      background-position: -150% 0,-150% 0;
   }

   66% {
      background-position: 250% 0,-150% 0;
   }

   100% {
      background-position: 250% 0, 250% 0;
   }
}

.spinner-comprar-pedidos-calculo {
   width: 4.5px;
   height: 4.5px;
   border-radius: 50%;
   color: #874908;
   box-shadow: 21.3px 0 0 7.8px, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 0;
   transform: translateX(-42.6px);
   animation: dots-ijr34dmd 0.5s infinite alternate linear;
}

@keyframes dots-ijr34dmd {
   50% {
      box-shadow: 21.3px 0 0 3.4px, 42.6px 0 0 7.8px, 63.900000000000006px 0 0 3.4px;
   }

   100% {
      box-shadow: 21.3px 0 0 0, 42.6px 0 0 3.4px, 63.900000000000006px 0 0 7.8px;
   }
}


/* Loading home */
.flipping-home-marca {
   width: 44.8px;
   height: 44.8px;
   animation: flipping-fmo34qmd 1.5s infinite;
   background-color: rgba(135, 52, 0, 0.7);
}

@keyframes flipping-fmo34qmd {
   0% {
      transform: perspective(44.8px) rotate(45deg) rotateX(0deg) rotateY(0deg);
   }

   50% {
      transform: perspective(44.8px) rotate(45deg) rotateX(-180deg) rotateY(0deg);
   }

   100% {
      transform: perspective(44.8px) rotate(45deg) rotateX(-180deg) rotateY(-180deg);
   }
}