:root{
    --color-primary:#5c2c14;
    --color-secondary:#f4a42d;
    --color-third:#ebdaa4;
    --color-fourth:#856047;
    --color-fifth:#c0aa92;
    --color-sixth:rgb(255, 255, 255);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
   background: #f4a42d;
   border-radius: 10px;
}

.text-justify{
    text-align: justify;
}

.margin-y{
    margin: 40px 0 40px  0;
}

.margin-y-medium{
    margin: 125px 0 125px  0;
}
.margin-y-big{
    margin: 250px 0 250px  0;
}

.margin-y-buttom{
    margin: 0 0 40px  0;
}
.margin-y-big-top{
    margin: 250px 0 0 0;
}

.margin-y-big-buttom{
    margin: 0 0 250px 0;
}

.color-primary{
      background-color: var(--color-primary); 
}

.color-secondary{
    background-color: var(--color-secondary);
}

.color-third{
    background-color: var(--color-third);
}

.color-fourth{
    background-color: var(--color-fourth);
}

.color-fifth{
    background-color: var(--color-fifth);
}
.color-sixth{
    background-color: var(--color-sixth);
}



/* loading */

.colorful {
    width: 44.8px;
    height: 44.8px;
    border-radius: 50%;
    margin-top: -33.6px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transform-origin: 50% 116.5%;
    animation: colorful-253w2v 2s infinite linear;
 }
 
 .colorful:before {
    content: "";
    min-width: 233%;
    height: 233%;
    background: radial-gradient(farthest-side,#172215 90%,#0000 ) top,
           radial-gradient(farthest-side,#ff6761 90%,#0000 ) left,
           radial-gradient(farthest-side,#ffd82e 90%,#0000 ) bottom,
           radial-gradient(farthest-side,#3bff81 90%,#0000 ) right;
    background-size: 43% 43%;
    background-repeat: no-repeat;
    animation: inherit;
    animation-direction: reverse;
 }
 
 @keyframes colorful-253w2v {
    100% {
       transform: rotate(360deg);
    }
 }

 