<section class="margin-y-buttom">


    <!-- imagen banner -->
    <img width="1960" 
        src="./assets/img/banner-about.jpg" class="rounded-bottom img-fluid" style="min-height: 100%;max-width: 100%;"
        alt="">

    <!-- contenido-->
    <div class="container-fluid margin-y-buttom mt-4">
        <div class="row justify-content-center p-5">
            <div class="col-lg-6 p-5">

                <p class="mb-3">QUIENES SOMOS</p>
                <h1 class="mb-4 fw-bold">Nuestra Historia</h1>
                <p class="text-break text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                    illo porro reprehenderit repudiandae delectus fuga?
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center p-5 mt-5" style="background-color: rgb(247, 239, 239)">
            <div class="col-lg-6 p-5 mt-5 mb-5">

                <h1 class="fw-bold mb-4 text-lg-center">Nuestra visión</h1>
                <p class="text-lg-center text-break text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                    illo porro reprehenderit repudiandae delectus fuga?
                </p>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-center p-5" style="background-color: #856047">
            <div class="col-lg-6 p-5 mt-5 mb-5">

                <h1 class="fw-bold mb-4 text-white text-lg-center">Nuestra misión</h1>
                <p class="text-lg-center text-break text-white text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                    illo porro reprehenderit repudiandae delectus fuga?
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid margin-y-top">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5">

                <h1 class="mb-4 fw-bold">¿ Porqué Petspit ?</h1>
                <hr style="width: 85px;padding: 5px;">
                <p class="text-break text-justify p-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                    illo porro reprehenderit repudiandae delectus fuga?
                </p>
            </div>
            <div class="col-lg-5">
                <img src="./assets/img/cachorro-about-1.jpg" class="rounded-bottom shadow img-fluid" style="min-width: 100%;" alt="">
            </div>
        </div>

        <div class="row justify-content-center mt-lg-4">
            <div class="col-lg-5 order-lg-1 mt-4 mt-sm-4 mt-md-5 mt-lg-0">

                <h1 class="mb-4 fw-bold">Nuestros valores</h1>
                <hr style="width: 85px;padding: 5px;">
                <p class="text-break text-justify p-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                    illo porro reprehenderit repudiandae delectus fuga?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum, sed suscipit fuga
                    similique harum reiciendis repudiandae animi illo est soluta voluptate aspernatur! Quos praesentium
                    autem alias corporis reiciendis, ab voluptatum possimus, aut dolor natus, molestias tenetur fugiat
                </p>
            </div>
            <div class="col-lg-5">
                <img src="./assets/img/cachorro-about-2.jpg" class="img-fluid rounded-bottom shadow" style="min-width: 100%;" alt="">
            </div>
        </div>
    </div>


</section>